@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    
     <ul class="nav navbar-nav navbar-left">
         <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catalogos <b class="caret"></b></a>
             <ul class="dropdown-menu">
                 <li><a href="/Account/Manage">Datos de la empresa</a></li>
                 <li><a href="/Empleado/Create">Catalogo de empleados</a></li>
                 <li><a href="/IMSS">IMSS</a></li>
                 <li><a href="/ISR">ISR</a></li>
                 @*<li class="dropdown-submenu">
                     <a tabindex="-1" href="#">tablas de impuestos</a>
                     <ul class="dropdown-menu">
                         <li><a href="/IMSS">IMSS</a></li>
                         <li><a href="/ISR">ISR</a></li>
                     </ul>


                 </li>*@
             </ul>
         </li>

         <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">CFDI <b class="caret"></b></a>
             <ul class="dropdown-menu">
                 <li><a href="/NominaCFDI/CreateNomina">Crear recibos eléctornicos</a></li>
                 <li><a href="/NominaCFDI/Index">Listado de recibos eléctornicos</a></li>
             </ul>
         </li>


         
                </ul>
    
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
