<!DOCTYPE html>
<html lang="es">
    <head>
		<meta charset="utf-8" />
		<title>Correo</title>
		<link rel="stylesheet" href="E:\SOURCESAFE\Nominas\NominasSAT\Content/normalize.css" />
		<link rel="stylesheet" href="E:\SOURCESAFE\Nominas\NominasSAT\Content\mail.css" />
    </head>
    <body>
        <header>
            <div class="logo"><img src="E:\SOURCESAFE\Nominas\NominasSAT\imagenes\logo.png" alt="Nominas RIF"></div>
            <div class="titulo"><h1>Bienvenido a CONTPAQI&reg; NOMINAS RIF</h1></div>
        </header>
        <nav></nav>
        <section class="conts">
            <article class="cont">
                <div class="descripcion">
                    Por este medio te informamos que tu cuenta ha sido activada con los siguientes datos:
                </div>
                <div class="valores">
                    RFC:
                </div>
                <div class="resultados">
                    aaaa001122aa
                </div>

                <div class="valores">
                    Contrase&ntilde;a:
                </div>
                <div class="resultados">
                    patito
                </div>

            </article>
        </section>
		<footer>
			<h3>
				   Atentamente Servicios electr&oacute;nicos CONTPAQI&reg;     @RenderBody()
			</h3>
		</footer>
    </body>
</html>