<html>
    <head>
        <style type="text/css">
            div { font-family:Verdana, Arial, Sans-Serif; font-size:10px; }
            #mail-message { padding:10px; }
            #mail-footer { padding:10px; }
        </style>
    </head>
    <body>
    <div id="mail-message">
        @RenderBody()
    </div>
    <div id="mail-footer">
        Best Regards,

        <a href="http://www.mywebsite.com">www.mywebsite.com</a>
    </div>
    </body>
</html>