            <article class="cont">
                <div class="descripcion">
                    Hola, a trav&eacute;s de la siguiente liga puedes cambiar tu contrase&ntilde;a
                </div>
                <div class="valores">
                    Usuario:
                </div>
                <div class="resultados">
                    @ViewBag.userName
                </div>

                <div class="valores">
                    URL:
                </div>
                <div class="resultados">
                    @ViewBag.Url
                </div>

               
            </article>