            <article class="cont">
                <div class="descripcion">
                    Hola <b>@ViewBag.Name</b>, el archivo adjunto contiene t&uacute; n&oacute;mina
                </div>
                <div class="valores">
                    Per&iacute;odo:
                </div>
                <div class="resultados">
                    @ViewBag.Period
                </div>

                <div class="valores">
                    UID:
                </div>
                <div class="resultados">
                    @ViewBag.UID
                </div>
            </article>