@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nominacito WEB</h1>
    <p class="lead">Crea tus nominas</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administra tus empleados</h2>
        <p>
            
        </p>

    </div>
    <div class="col-md-4">
        <h2>Crea tus nominias</h2>
        <p></p>
       

    </div>
    <div class="col-md-4">
        <h2>Configura los impuestos</h2>
        <p></p>
    </div>
</div>