@{
    ViewBag.Title = "Inicio";
}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Inicio
                        <small>Nóminas WEB</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Inicio</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="text-align:justify">
        Bienvenido a Nóminas WEB.
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante velit, molestie vitae ligula in, ullamcorper mattis est. Phasellus nec scelerisque massa. Vestibulum a congue diam, sed molestie orci. Curabitur iaculis eleifend ultrices. Nunc posuere lorem a eros convallis, quis euismod metus euismod. Praesent aliquet eleifend eleifend. Phasellus vestibulum, augue non vestibulum euismod, nunc lorem ultrices mi, a bibendum enim nisi eu odio. Pellentesque porttitor molestie lorem, et placerat quam suscipit eu. Aenean malesuada posuere sapien, ac fringilla nulla viverra nec. Nunc at vulputate libero. Aliquam venenatis lectus ut nibh consectetur, at dapibus elit hendrerit. Proin justo magna, interdum sed sagittis id, aliquam a est. Integer semper rhoncus accumsan. Nulla facilisi. Proin magna augue, auctor vitae libero vel, euismod fermentum ipsum. Duis semper enim quis pellentesque venenatis.
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Integer at feugiat lectus, vel faucibus erat. Morbi ut dolor facilisis, fermentum sem egestas, sodales nunc. Proin erat purus, ultricies vel tincidunt vel, elementum eget dolor. Aliquam vel pharetra velit. Sed hendrerit rhoncus eros sed porta. Fusce suscipit, leo ac fermentum imperdiet, orci est sodales arcu, at dictum nisi elit ut ligula. Nulla felis justo, iaculis vel nulla vitae, pulvinar fringilla odio.
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Maecenas accumsan erat velit, nec rhoncus lacus accumsan nec. Mauris sodales, dolor in consectetur bibendum, sem dui fringilla diam, eu dapibus diam nibh et felis. Curabitur bibendum turpis id urna bibendum, sollicitudin laoreet nulla bibendum. Aliquam tristique aliquet posuere. Integer porta feugiat tristique. Aenean posuere dui et condimentum consequat. Morbi quam felis, gravida eu tortor a, mollis vulputate urna. Duis elementum magna nulla, vel tincidunt metus pretium a. Nulla vitae faucibus ligula, sed cursus sem. Nunc vel vestibulum lectus. Aenean sit amet pulvinar ipsum, sed dapibus arcu. Sed eu magna diam. Phasellus tincidunt ullamcorper est, non consectetur nibh blandit sed. Nulla metus justo, pellentesque id felis non, elementum pellentesque quam. Morbi ut justo sed eros varius convallis vel vehicula lectus. Suspendisse a consectetur magna.
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phasellus id ligula eu metus vehicula aliquam. Nulla tincidunt dui sed tortor porttitor euismod. Integer gravida vitae tellus interdum ultricies. Quisque nec convallis metus. Etiam sed augue arcu. Nunc nec blandit nibh. Suspendisse vitae nisl arcu. Aenean sed urna ac ipsum condimentum tincidunt convallis ac nisl. Mauris non mollis eros. Nam congue condimentum eleifend. Nullam sapien erat, mattis vitae erat quis, convallis euismod diam. Donec posuere nisl eget feugiat consectetur. Curabitur feugiat leo et metus aliquam vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suspendisse potenti. Suspendisse tincidunt leo quis metus congue accumsan. Ut volutpat, velit vitae bibendum dictum, mi lorem eleifend nisi, fermentum ornare mi risus ut lorem. Duis urna nibh, rhoncus vitae mollis quis, imperdiet eget mi. Maecenas sagittis elementum dictum. Aliquam ac egestas erat. Nam rutrum sem convallis, molestie elit vitae, aliquet sem. Duis congue mollis pharetra. Nam in euismod risus, sit amet varius diam. Nunc in nunc risus. Pellentesque porttitor imperdiet tortor, id molestie diam tincidunt ac. Suspendisse fermentum, nisl et rhoncus rhoncus, lacus diam elementum ligula, a blandit dolor augue bibendum felis. Nulla sit amet pellentesque ligula. Nunc accumsan sapien et dolor tempus, quis interdum felis pulvinar. Etiam sit amet laoreet dolor, ac dictum dolor.
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
